.content {
    height: 485px;

    .top {
        .QlyDoanhNghiep {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 21px;
            cursor: pointer;
            color: #212529;
            margin-right: 136vh;
        }
    }
}
