.content {
    height: 490px;
}

.bangke {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 21px;
    cursor: pointer;
    color: #212529;
}

.tokhai {
    margin-left: 20px;
    cursor: pointer;
}