.content {
    height: 490px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;

    .top {
        .bangke {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 21px;
            /* identical to box height */
            cursor: pointer;
            color: #212529;
        }
        .tokhai {
            margin-left: 20px;
            cursor: pointer;
        }
    }
}
