.datatable {
    height: 600px;
    padding: 20px;

    .datatableTitle {
        font-size: 24px;
        color: #212529;
        font-weight: 600;
        margin-bottom: 10px;
        display: inline-block;
        align-items: center;
        justify-content: space-between;
        line-height: 28px;
        font-family: "Roboto";
        font-style: normal;
    }

    .search {
        display: flex;
        .left {
            display: flex;
            width: 30%;
            align-items: center;
            padding: 6px;

            input {
                border: none;
                outline: none;
                background: transparent;
                background: white;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }
        .right {
            
            span {
                font-size: 13px;
            }
        }
    }
}
