.widget {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
    background-color: white;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-top: -20px;

        .icon {
            font-size: 35px;
            padding: 20px;
            border-radius: 5px;
            align-self: flex-end;
            margin-top: 16px;
        }
    }
}

.counter {
    font-size: 28px;
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-style: 18px;
    color: rgb(160, 160, 160);
}
