.content {
    height: 485px;
    background-color: white;

    .top {
        .bangke {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 21px;
            cursor: pointer;
            color: #212529;
        }
    }
    .bottom {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin: 20px;
        width: 95%;
    }
}
