.ant-layout-header {
    background: white;
}

.ant-btn {
    font-size: 17px;
    height: 39px;
    border-radius: 10px;
    padding-top: 0px;
    background-color: rgba(128, 128, 128, 0.096);
}

.ant-space-item {
    font-size: 12px;
    font-weight: bold;
}

.anticon-left
{
    // border: 1px solid gray;
    border-radius: 50%;
    // background-color: gray;
    width: 30px;
    height: 30px;
    padding-top: 5px;  
}

.anticon-right{
    // border: 1px solid gray;
    border-radius: 50%;
    // background-color: gray;
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.ant-layout-sider {
    background-color: white;
}

.ant-layout-sider-trigger {
    background-color: white;
    color: red;
    font-size: 20px;
}

.ant-layout-sider .ant-layout-sider-dark .ant-layout-sider-has-trigger {
    flex: 0 0 250px;
    max-width: 250px;
    min-width: 200px;
    width: 200px;
}

.ant-menu{
    color: rgba(128, 128, 128, 0.801);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fef6f6;
    color: #ff6c60;
}

.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid transparent;
}

.ant-menu-light .ant-menu-item:hover{
    color: #ff6c60;
}

.ant-menu-title-content{
    font-weight: bold;
    font-size: 15px;
}

.ant-menu-item .ant-menu-item-icon + span{
    margin-left: 20px;
}

.ant-menu-inline .ant-menu-item:not(:last-child){
    margin-bottom: 12px;
}
