.ant-layout-header {
    background: white;
}

.ant-btn {
    font-size: 17px;
    height: 39px;
    border-radius: 10px;
    padding-top: 0px;
    background-color: rgba(128, 128, 128, 0.096);
}

.ant-space-item {
    font-size: 12px;
    font-weight: bold;
}

.anticon-left {
    // border: 1px solid gray;
    border-radius: 50%;
    // background-color: gray;
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.anticon-right {
    // border: 1px solid gray;
    border-radius: 50%;
    // background-color: gray;
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.ant-layout-sider {
    background-color: white;
}

.ant-layout-sider-trigger {
    background-color: white;
    color: red;
    font-size: 20px;
}

.ant-layout-sider .ant-layout-sider-dark .ant-layout-sider-has-trigger {
    flex: 0 0 250px;
    max-width: 250px;
    min-width: 200px;
    width: 200px;
}

.ant-menu {
    color: rgba(128, 128, 128, 0.801);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fef6f6;
    color: #ff6c60;
}

.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid transparent;
}

.ant-menu-light .ant-menu-item:hover {
    color: #ff6c60;
}

.ant-menu-title-content {
    font-weight: bold;
    font-size: 15px;
}

.ant-menu-item .ant-menu-item-icon + span {
    margin-left: 20px;
}

.ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 12px;
}

.ant-cascader {
    height: 39px;
    width: 126px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 39px;
    padding: 0 11px;
}

.ant-select-selection-placeholder {
    color: #212529;
    margin-top: 3px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    font-size: 14px;
}

.ant-btn-default {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.ant-select-selection-item{
    color: #212529;
    margin-top: 3px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    font-size: 14px;
}

.ant-table table{
    text-align: center;
}

.ant-table-thead > tr > th{
    text-align: center;
}

.ant-pagination.ant-pagination-mini .ant-pagination-prev, .ant-pagination.ant-pagination-mini .ant-pagination-next{
    height: 36px;
}